.CarouselProductos{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .BoxProductos{
        width: 75vw;
        background-color: #c7c7c7;
        border-radius: 1rem;
        display: flex;
        margin: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        .CardProducto{
            width: 200px;
            min-height: 335px;
            background-color: cadetblue;
            margin: 1rem;
            height: 80%;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            align-items: center;
            img{
                max-width: 200px;
                padding: 10px;
                border-radius: 10%;
            }
            .prodName {
                flex: 1;
                padding-top: 10px;
            }
            .ItemCount{
                padding: 10px;
                div{
                    display: flex;
                    justify-content: center;
                    .btnCount{
                        padding: .2rem;
                        width: 40px;
                        border-radius: 5px;
                        border-style: none;
                    }
                    span{
                        padding: .4rem;
                    }
                }
                .btnCarrito{
                    margin: 15px;
                }
            }
        }
    }
}