.nav {
    background: linear-gradient(to bottom, #ff8229 80%, #fa964e);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: .5rem 4rem;

    .NavLogo {
        img {
            height: 4rem;
        }
    }

    .NavSearch {
        position: relative;
        margin: 8px 0;
        input[type="search"] {
            border-radius: 5px;
            padding: .3rem;
            width: 240px;
            outline: none;
            border: none;
            transition: all .3s ease-in-out;
            &:focus{
                width: 275px;
            }
        }
        button {
            position: absolute;
            padding: .5rem .5rem;
            top: -6px;
            right: -6px;
            background-color: #ffffff00;
            border-style: none;
            cursor: pointer;
            svg{
                color: #1c3144;
            }
        }
    }

    .cartIcon {
        svg {
            font-size: 2.5rem;
            color: #FFFC99;

            &:hover {
                color: white;
            }
        }
    }

}

.nav-xs {
    display: none;
}

.navCategories {
    background-color: #fec344;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 1rem;
            list-style: none;
            a{
                color: whitesmoke;
            }
        }
    }
}

@media (max-width: 768px) {

    .nav-xxl {
        display: none;
    }

    .nav-xs {
        display: flex;
        flex-direction: column;

        .nav-xs-search {
            display: flex;
            align-items: center;
        }
    }
    .nav{
        .cartIcon {
            svg {
                font-size: 2rem;
                margin-left: 2rem;
            }
        }
        .NavSearch {
            input[type="search"] {
                width: 200px;
                &:focus{
                    width: 225px;
                }
            }
        }
    }
}