.nav {
    background: linear-gradient(to bottom, #ff8229 80%, #fa964e);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: .5rem 4rem;
    .NavLogo {
        img {
            height: 4rem;
        }
    }
    .NavSearch{
        input[type="search"]{
            border-radius: 5px;
            padding: .3rem;
            width: 275px;
        }
    }
    .cartIcon {
        svg {
            font-size: 3.5rem;
            color: #FFFC99;

            &:hover {
                color: white;
            }
        }
    }

}