*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


// Navbar
@import './components/navBar/NavBar.scss';
//Main
@import './components/itemListContainer/ItemListContainer.scss';
@import './components/itemDetailContainer/ItemDetailContainer.scss';
//Footer
